
<button data-drawer-target="cta-button-sidebar" data-drawer-toggle="cta-button-sidebar" aria-controls="cta-button-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
   </svg>
</button>

<aside id="cta-button-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto bg-gray-800">
      
   <div class="flex items-center space-x-3 mb-4">
      <h2 class="text-3xl font-semibold text-gray-50">Group 4</h2>
   </div>
      <ul class="space-y-2.5 font-medium">
         <li>
            <a href="/gender/list" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700">
               <span class="ms-3">Gender List</span>
            </a>
         </li>
         <li>
            <a href="/gender/add" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700">
               <span class="flex-1 ms-3 whitespace-nowrap">Add Gender</span>
            </a>
         </li>
         <li>
            <a href="/user/list" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700">
               <span class="flex-1 ms-3 whitespace-nowrap">User List</span>
            </a>
         </li>
         <li>
            <a href="/user/add" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700">
               <span class="flex-1 ms-3 whitespace-nowrap">Add User</span>
            </a>
         </li>
      </ul>
   </div>
</aside>